.section {
  display: flex;
  padding: 1rem 0 1rem 0;
  align-items: center;
  vertical-align: center;
  position: relative;
}

.text {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #d4d5d8;
}
